<div class="add-course">
  <div mat-dialog-title>
    <h1>Course Form</h1>
  </div>

  <form [formGroup]="studentForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
      <div class="row">
        <div *ngIf="!data">
          <mat-form-field appearance="outline">
            <mat-label>Create by</mat-label>
            <input
              matInput
              type="text"
              placeholder="Ex. Nguyen Van A"
              formControlName="maker"
            />
          </mat-form-field>
        </div>

        <div *ngIf="data">
          <mat-form-field appearance="outline">
            <mat-label>Update by</mat-label>
            <input
              matInput
              type="text"
              placeholder="Ex. Nguyen Van A"
              formControlName="modifier"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row first">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input
            matInput
            type="text"
            placeholder="Ex. .Net Basic"
            formControlName="title"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Start Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="startDate"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Capacity</mat-label>
          <input matInput placeholder="Ex. 10" type="number" />
        </mat-form-field>
      </div>
      <!-- End row -->
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            placeholder="Ex. Something about this course..."
          ></textarea>
        </mat-form-field>
      </div>
    </div>

    <div mat-dialog-actions class="action">
      <button mat-raised-button>Cancel</button>
      <button mat-raised-button color="primary">
        {{ data ? "Update" : "Save" }}
      </button>
    </div>
  </form>
</div>
