<div class="add-student">
  <div mat-dialog-title>
    <h1>Student Form</h1>
  </div>
  <form [formGroup]="studentForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
      <div class="row">
        <div *ngIf="!data">
          <mat-form-field appearance="outline">
            <mat-label>Create by</mat-label>
            <input
              matInput
              type="text"
              placeholder="Ex. Nguyen Van A"
              formControlName="maker"
            />
          </mat-form-field>
        </div>

        <div *ngIf="data">
          <mat-form-field appearance="outline">
            <mat-label>Update by</mat-label>
            <input
              matInput
              type="text"
              placeholder="Ex. Nguyen Van A"
              formControlName="modifier"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row" *ngIf="data">
        <mat-form-field appearance="outline">
          <mat-label>Id</mat-label>
          <input matInput type="text" value="{{ data.id }}" disabled />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Full Name</mat-label>
          <input
            matInput
            type="text"
            placeholder="Ex. Nguyen Van A"
            formControlName="fullName"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Birthday</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthday" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <!-- End row -->
    </div>

    <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" [mat-dialog-close]="">
        Cancel
      </button>
      <button mat-raised-button color="primary" type="submit">
        {{ data ? "Update" : "Save" }}
      </button>
    </div>
  </form>
</div>
